.card-c {
  div {
    div {
      height: 100%;
      background-color: #424949;
    }
  }

  h3 {
    font-size: x-large;
    text-align: center;
    color: orange;
  }

  p {
    color: white;
    font-size: large;
  }
}
