body,
html {
  overflow-x: hidden;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

main {
  background-color: orange;
}

%title {
  position: absolute;
  font-size: 8rem;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: 1;
}

.title {
  @extend %title;
  color: white;
}

.title-black {
  @extend %title;
  color: black;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "mixin";
@import "button";
@import "cards";
@import "swiper";
@import "navbar";
@import "home";
@import "footer";
